<h1>Cars</h1>
<h3>Update Car Details</h3>
<%= form_with model: @car do |form| %>
  <%= form.text_field :name, placeholder: "name" %>
  <%= form.text_field :year, placeholder: "year" %>
  <%= form.submit %>
<% end %>
