<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Cars</span>
  </div>
</nav>



<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">List</h5>
    <table>
  <% @cars.each do |car| %>
    <tr>
      <td><%= link_to car.name, car_path(car) %></td>
      <td><%= button_to 'Edit', edit_car_path(car), method: 'get'%></td>
      <td><%= button_to 'Remove', car_path(car), method: 'delete', data: { confirm: 'Are you sure?' } %></td>
  <% end %>
</table>
  </div>
</div>

<button class="btn btn-light"><%= link_to "Add a New CAR", new_car_path %></button>
