<h1>Cars</h1>

<h3>Register a Car</h3>
<%= form_with model: @cars do |form| %>
  <%= form.text_field :name, placeholder: "name" %>
  <%= form.text_field :year, placeholder: "year" %>
  <%= form.submit %>
<% end %>


